<div class="pagy-wrapper" data-controller="pagy-initializer"><%== pagy_nav(@pagy) %></div>

<div class="table-container">
  <div class="table-wrapper">
    <table class="table">
      <thead class="table-header">
        <tr>
          <th scope="col" class="table-attribute"><%= sort_link('employees_path', I18n.t('activerecord.attributes.employee.id'), 'id') %></th>
          <th scope="col" class="table-attribute-actions"><%= I18n.t('operator.actions') %></th>
        </tr>
      </thead>
      <tbody>
      <% @employees.each.with_index do |employee| %>
        <%= render partial: "employee_row", locals: { employee: employee } %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
