<%= turbo_stream.append "flash" do %>
  <div class="flash flash-message" data-controller="flash" data-flash-target="message">
    <%= flash[:notice] %>
    <%= button_tag "close", data: { action: "click->flash#dismiss" } %>
  </div>
<% end %>
